<% if @game.hit_points2 == 0 %>

   <%= @game.name1%> Wins!
<% else %>



<h2> Current Turn: <%= @game.current.name %>

<p>
  <%= @game.name1 %> vs. <%= @game.name2 %>
</p>

<a href="/attack">Attack</a>
<p>
  <%= @game.name2 %>: <%= @game.hit_points2%> HP
</p>

<p>
  <%= @game.name1 %>: <%= @game.hit_points1%> HP
</p>


  <% end %>